<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>


</head>
   

<body>
     <div id = "app">

        <div class="container">

            <h1 class='h1'>Todo List</h1>

        <div v-if="!isEditing">
            <input class="tab" type ="text" v-model="todo">
            <input class ="add" type ="submit" value ="ADD" @click="storeTodo">
        
        </div>

        <div v-else>
            <input type ="text" v-model="todo">
            <input type ="submit" value ="update" @click="updateTodo">
        
        </div>



            <ol>
            
                <li class="list" v-for="(todo,index) in todos">
            
                    {{todo}}

                   
                    <button class="edit" @click="editTodo(index,todo)">Edit</button>
                    <button class="delete" @click="deleteTodo(index)">Delete</button> </li> 
                    
                </li>
        
            </ol>
        </div>

     </div>

     <script src="script.js"></script>
</body>
</html>