<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>


</head>

<body>
    <div id="header">
        <h1 class="h1">{{product}}</h1>
        <h2>{{description}}</h2>


        <img class="sock" v-bind:src="image" v-bind:alt="altText" />
        <a class="link" :href="link">Click Here! For the best coffee in town</a>
        <p v-if="orderNo>10">The Coffee is Available</p>
        <p v-else-if="orderNo>0 && orderNo<10">May be available</p>
        <p v-else>Not Available</p>

        <h4 v-if="onSale">The Mocha is on 15% sale</h4>
        <h4 v-else>Sorry, No discount available</h4>

    </div>
    <script src="script.js"></script>
</body>

</html>